.outline-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
  padding: 0.8em 1.4em;
  text-align: center;
  color: #4caf50;
  border-color: #4caf50;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.outline-button:hover {
  background-color: #c8e6c9;
}

.outline-button:active {
  background-color: #a5d6a7;
}
